table tr{
    transition: 0.3s;
}

table tr:hover{
    background-color: rgb(201, 255, 255);
    cursor: pointer;
    
}

.zipzop{
    width: 85px;
    position: fixed;
    right: 50px;
    bottom: 50px;
}